* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid: 200px 1fr / 200px 1fr;
    column-gap: 20px;
    row-gap: 50px;
}

.projects {
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* .task-btn {
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
} */

/* .delete-btn {
    background-color: white;
    width: 20px;
    height: 20px;
} */