* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-family: sans-serif;
  height: 100px;
  padding-left: 20px;
  color: white;
  background-color: rgb(51, 51, 51);
}

.container {
    display: grid;
    grid: 1fr / 250px 1fr;
    column-gap: 20px;
    row-gap: 20px;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
}



.sideBar {
    grid-column: 1/2;
    display: grid;
    grid: 150px 1fr/ 1fr;
  background-color: #eee;
}

.inbox,
.projectsBar {
  padding: 10px 0 0 20px;
  font-size: 1.5rem;
  font-weight: 700;
}

.addProject {
  display: flex;
  align-items: center;
  height: 45px;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
}

.project:hover,
.addProject:hover {
  background-color: lightgray;
  cursor: pointer;
}

.tasksContainer {
  grid-column: 2/3;
  padding: 25px;
}

.taskBtn {
  display: flex;
  align-items: center;
  width: 60%; 
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.task {
  display: grid;
  grid: 1fr/50px 1fr 50px;
  align-items: center;
  width: 60%; 
  height: 50px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.project {
  display: flex;
  align-items: center;
  height: 25px;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
}

.taskInput {
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  width: 100%;
}

.projInput {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background-color: #eee;
}

.taskInput:focus,
.projInput:focus {
  outline: none;
}

.checkBox {
  height: 20px;
  margin-right: 10px;
}

.deleteBtn {
  margin-left: auto;
}


.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


/* .task-btn {
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
} */

/* .delete-btn {
    background-color: white;
    width: 20px;
    height: 20px;
} */